.footer {
  background: #0f172a;
  color: #cbd5e1;
  padding: 70px 6% 30px;
  font-family: "Inter", sans-serif;
  margin-top: auto;
  width: 100%;
  position: relative;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr) 1.5fr;
  gap: 40px;
}

/* BRAND */
.footer-brand h2 {
  color: white;
  margin-bottom: 12px;
}

.footer-brand p {
  font-size: 15px;
  line-height: 1.6;
}

/* LINKS */
.footer-links h4 {
  color: white;
  margin-bottom: 14px;
}

.footer-links a {
  display: block;
  color: #94a3b8;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-links a:hover {
  color: #38bdf8;
}

/* NEWSLETTER */
.footer-newsletter h4 {
  color: white;
}

.footer-newsletter p {
  font-size: 14px;
  margin-bottom: 12px;
}

.newsletter-box {
  display: flex;
}

.newsletter-box input {
  flex: 1;
  padding: 10px;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
}

.newsletter-box button {
  background: #38bdf8;
  border: none;
  padding: 10px 16px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid #1e293b;
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials span {
  margin-left: 12px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
  }
}
