.pages-container {
  font-family: "Segoe UI", sans-serif;
  color: #0f2f2a;
}

/* Common Page */
.page {
  min-height: 100vh;
  padding: 80px 100px;
}

/* PAGE 1 */
.hero-page h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  max-width: 700px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.hero-image {
  margin-top: 50px;
  height: 350px;
  border-radius: 24px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image span {
  background: #e5e7eb;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 0.9rem;
}

/* PAGE 2 */
.info-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 40px;

  display: flex;
  flex-direction: column;
  gap: 100px; /* space between the two sections */
  background: #f7f8f5;
}

/* Headings */
.info-page h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #0f2f2a;
  margin-bottom: 24px;
}

/* Paragraph text */
.info-page p {
  max-width: 900px;
  font-size: 1.15rem;
  line-height: 1.9;
  color: #3f3f3f;
}

/* PAGE 3 */
.benefits-page h2 {
  font-size: 2.8rem;
  margin-bottom: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 30px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.card h3 {
  margin-bottom: 10px;
}

.products-title {
  margin-top: 80px;
}

.product-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  position: relative;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text overlay */
.product-card span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 14px 18px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
